<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户信息</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            swal({
                title: "开发中...",
                text: "请键入密码",
                type: "input",
                inputType: "password",
                imageUrl: "img/ld.gif"
            });
        });
    </script>
</head>
<body background="img/bg_2.jpg">
<div th:replace="commons/bar::topbar"></div>
<script src="js/canvas-nest.js" count="500" zindex="-2" opacity="2" color="50,200,200" type="text/javascript"></script>
<div class="container-fluid">
    <div class="row">
        <div th:replace="commons/bar::#sidebar(activeUri='modifyUserInfo')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            开发中...
        </main>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- Icons -->
<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>
<script>
    feather.replace()
</script>
</body>
</html>